<div class="wrapper">

    <h2>{{ device.name }} Details</h2>

    <p>This chart is currently displaying your average Bandwidth over the course of 6 months. As this program continues to develop more choices for different time period charts will become available. The Goal of this interface is to provide the end user with an easy to understand and fast glance view at what is going on in there own network.
    </p>



    <div id="compChart">
                <h3><span>{{ device.name }}</span> connection over <span>{{ device.connect }}</span></h3>
        <h3>Mega Bits Per Second(MPS)</h3>
        <div id="chart"></div>
        <h3>hour of the day</h3>
    </div>



    <p>The Chart Above displays the mega bits per second (MBPS) on average for each hour of the day. </p>

</div>