<div class="wrapper">

    <h2>What is Rebel ISP?</h2>

    <p>The Purpose of the application is to allow the consumer a friendly and concise way to view, manage, and monitor his or her own home or enterprise network.  Currently the network monitoring tools on the market are build for and used by IT professionals so they have some background knowledge on how to do it.  What about the casual homeowner that wants to have a way to verify that their ISP (Internet Service Provider) is doing their job.</p>

    <p>The intended Audience of this device will be the frustrated homeowner, renter or payer of a cable / Internet bill. This could also be used by IT Professionals to help automate the monitoring their network because this is designed so that a casual end user can use it.  The device will have a built functionality to fully automate the network monitoring process and tools to customize it for the IT Professional</p>


    <a href="img/1.jpg" data-lightbox="road" data-title="My caption"><img src="img/thumb1.jpg"></a>
    <a href="img/2.jpg" data-lightbox="road" data-title="My caption"><img src="img/thumb2.jpg"></a>
    <a href="img/3.jpg" data-lightbox="road" data-title="My caption"><img src="img/thumb3.jpg"></a>

    <div id="videoContanier">
        <video width="500" controls poster="img/poster.png">
            <source src="video/webdeveloper-HD.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

    </div>
</div>